#carousel .carousel-inner img {
	width: 100%;
	height: 100vh;
}

#carousel .carousel-inner a {
	color: #fff;
}

#carousel .carousel-inner a:hover {
	text-decoration: none;
	color: #bbb;
}

#carousel .carousel-inner a:focus {
	text-decoration: none;
}

.fix-nav {
	z-index: 9999; 
	position: fixed; 
	left: 0; top: 0; width: 100%;	
}

.displaying {
	height: 51px;
	width: 100%;
}

#navbar {
	margin-bottom: 0;	
}

.background-content {
	background: fixed url(../images/content.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;	
}

.background-content-2 {
	background: fixed url(../images/content_2.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;	
}

.background-content-3 {
	background: fixed url(../images/content_3.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;	
}

.believe {
	font-weight: bold;
	font-style: italic;
	color: #FF9218;
	margin: 50px auto 0;
}

.videos {
	margin: 50px;	
}

.videos iframe {
	height: 250px;
	width: 100%;
	margin-bottom: 30px;
}

.word-wrap {
	word-wrap: break-word;	
}

.marg {
	margin: 30px;	
}

.example {
	background-color: #fff;
	margin: 50px;
	border-radius: 15px;
}

.example h3 {
	margin-bottom: 20px;	
}

.imgg {
	width: 100%;
	height: auto;
}

.description {
	margin: 20px;
	font-size: 16px;
	
}

.footer {
	background-color: #000;
}

.footer div {
	padding: 40px 85px;
	font-size: 16px;
	color: #9d9d9d;
}

.footer span, .ico {
	display: block;
	text-align: right;
}

.fa-angle-right {
	margin: 0 0 0 4px;
}

.no {
	display: none;
}

.ico i {
	margin: 15px; 
}

@media all and (max-width: 992px) {
	.footer div, .footer span, .ico {	
		display: block;
		text-align: center;
	}
	
	.hidd {
		display: none;	
	}
	
	.no {
		display: block;	
	}
	
}

@media all and (max-width: 768px) {
	.marg {
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.padd {
		padding-left: 5px;
		padding-right: 5px;
	}
}